mixin lessonsItem(img, teacher, title, date, time, live)
    if (live)
        .lessons__item.lessons__item-live
            .lessons__item-left
                .lessons__item-live-indicator
                    .lessons__item-live-img
                        img(src="static/img/live.png" alt="live")
                    span LIVE
                .lessons__item-live-title=title
                .lessons__item-live-teacher
                    .teacher-avatar
                        img(src="static/img/contact_2.jpg", alt="Татьяна Николаевна")
                    span=teacher
            .lessons__item-right
                .lessons__item-live-time
                    svg(viewBox="0 0 30 31").icon.icon-time
                        use(xlink:href="static/img/svg/symbol/sprite.svg#time")
                    span 00:15:23
                a(href="#").lessons__item-btn.lessons__item-btn_live Перейти к уроку
    else
        .lessons__item
            .lessons__item-img
                img(src=img, alt=title)
            .lessons__item-content
                .lessons__item-content-left
                    .lessons__item-teacher
                        .teacher-title Преподаватель:
                        .teacher-name=teacher
                    .lessons__item-title=title
                .lessons__item-content-right
                    .lessons__item-day
                        .lessons__item-date=date
                        .lessons__item-time=time
                    .lessons__item-actions
                        a(href="#").lessons__item-btn.lessons__item-btn_general Перейти к уроку
                        button.lessons__item-btn.lessons__item-btn_danger Отменить

mixin contactsItem(img, name, subject, rating)
    .contacts__item
        .contacts__item-img
            img(src=img, alt=name)
        .contacts__item-content
            .contacts__item-name=name
            .contacts__item-subject=subject
            .contacts__item-links
                a(href="#").contacts__item-link.icon-insta
                a(href="#").contacts__item-link.icon-whatsapp
                a(href="#").contacts__item-link.icon-email
        .contacts__item-rating
            i.icon-rating
            .contacts__item-rating=rating

mixin verifiedContactsItem(viewBox, href, id, title, contact, newContact)
    if (newContact)
        li.verified-contacts__item.verified-contacts__item_new
            .verified-contacts__item-img
                svg(viewBox=viewBox class=`icon icon-${id}`)
                    use(xlink:href=href)
            .verified-contacts__item-title + Привязать
    else
        li.verified-contacts__item
            .verified-contacts__item-img(class=`verified-contacts__item-img_${id}`)
                svg(viewBox=viewBox class=`icon icon-${id}`)
                    use(xlink:href=href)
            .verified-contacts__item-text
                .verified-contacts__item-title=title
                .verified-contacts__item-contact=contact
        
    

mixin statsItem(viewBox, href, id, count, text)
    .stats__item
        .stats__item-img(class=`stats__item-img_${id}`)
            svg(viewBox=viewBox class=`icon icon-${id}`)
                use(xlink:href=href)
        .stats__item-content
            .stats__item-count(class=`stats__item-count_${id}`)=count
            .stats__item-text=text

mixin socialItem(img, title)
    a.social__item(href="#")
        .social__item-img
            img(src=img, alt=title)